body {
    margin: 0;
}

#navbar {
    align-items: center;
    background-color: white;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    transition: top 0.3s;
    width: 100vw;
    position: fixed;
    z-index: 9999999;
}

.navbar-child a {
    color: black;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    padding: 0 60px 0 60px;
    text-decoration: none;
}

.navbar-child a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

#active-page a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

#burgernav-hover-box {
    height: 90px;
    position: fixed;
    right: 0px;
    width: 260px;
    z-index: 9999999;
}

#icon-container {
    align-items: center;
    color: black;
    display: flex;
    font-size: 18px;
    height: 80px;
    justify-content: end;
    position: fixed;
    right: 10px;
    transition: top 0.3s;
    z-index: 9999999;
    width: 260px;
}

#burgernav i {
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
    z-index: 9999999;
}

#burgernav:hover i {
    transform: rotate(-90deg);
    transition: transform 0.5s ease-in-out;
}

#burgernav #burgernav-hover-box:hover~#burgernav-links {
    display: flex;
    right: 0px;
}

#burgernav-links {
    background-color: white;
    box-shadow: 0px 3px 20px black;
    display: none;
    height: auto;
    padding-top: 75px;
    position: fixed;
    width: 260px;
}

#burgernav-links:hover {
    display: flex;
    right: 0px;
}

#burgernav li {
    list-style-type: none;
    padding: 8px 0px;
}

@media (max-height: 500px) {
    #burgernav li {
        padding: 0px;
    }
}

#burgernav-links a {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    text-decoration: none;
}

#burgernav-links a:hover {
    text-decoration: underline 1.5px black;
}

@media (max-height: 500px) {
    #burgernav {
        font-size: 18px;
    }
}

/* Navbar viewports */
@media (min-width: 1001px) {
    #navbar-text-container {
        display: inline;
    }

    #burgernav {
        display: none;
    }
}

@media (max-width: 1000px) {
    .navbar-child {
        display: none;
    }

    #burgernav {
        display: inline;
    }

    #navbar {
        justify-content: start;
    }
}

#header {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 225px;
    justify-content: center;
    padding-top: 80px;

    @media (max-width:1000px) {
        max-width: 500px;
        margin: auto;
    }

    @media (max-width:500px) {
        max-width: 290px;
    }
}

#header-container {
    text-align: center;
}

#header-text1 {
    font-family: 'Inter', sans-serif;
    font-size: clamp(2.75rem, 6vw, 5rem);
}

#header-text2 {
    text-align: left;

    @media (max-width:1000px) {
        text-align: center;
    }
}

#loader {
    /* Safari */
    animation: spin 1.5s linear infinite;
    border: 16px solid white;
    border-bottom: 16px solid black;
    border-radius: 50%;
    border-top: 16px solid black;
    display: block;
    height: 100px;
    position: fixed;
    width: 100px;
    -webkit-animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image {
    width: 500px;

    @media (max-width:500px) {
        width: 290px;
    }
}

.image:hover {
    transform: scale(1.05);
    transition: 0.25s;
}

.image:hover i {
    display: flex;
}

.image:hover i:hover {
    background-color: white;
    color: #25272e;
}

.image img {
    vertical-align: middle;
    width: 100%;
}

.image i {
    align-items: center;
    background-color: #25272e;
    color: white;
    display: none;
    font-size: 25px;
    height: 35px;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 35px;
}

#footer {
    align-items: center;
    display: flex;
    height: 275px;
    justify-content: center;
    width: 100vw;
}

#footer-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width:600px) {
        flex-direction: column;
    }
}

#footer-container img {
    height: 30px;
    padding: 10px;
    width: 125px;
}

#copyright {
    text-align: center;
}